*{
    text-align: center;
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 15px;
    
}
.item_selected{
    border-bottom: 3px solid red;
    background-color: rgba(200, 0, 0, 0.1);
}

        .my_container{
            flex: 3;
            margin: 3px;
            padding: 10px;
            box-shadow: 2px 2px 4px 1px #bbb;
        }

        .vegetable{
            user-select: none;
            padding: 20px;
            margin: 6px;
            border-bottom: 3px solid transparent;
        }
            .vegetable:hover {
                cursor: pointer;
            }